h1{color: #FFFFFF; font-family: Georgia, serif;}
h2{color: #FFFFFF;}
body{background: #808080;}
p{color: white}
a{color: white; text-decoration: none; font-family: 'Times New Roman', serif;}
a{font-size: large;}
a:hover{color: blue;}
a:visited{color: white;}